<content-type="html"/>
<html>
  <head>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuex@3.0.1/dist/vuex.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
  </head>

  <body>
    <div id="app">
      <div class="current-card" v-if="currentCard">
        <div class="name">{{ currentCard.name }}</div>
        <div class="description">{{ currentCard.description }}</div>
        <button v-if="!currentCard.resolved" class="next" @click="cardEffectStep()">Next</button>
      </div>
      <button v-if="!currentCard || currentCard.resolved" @click="playCard()">Play</button>
      <div class="player-info">
        {{ health }} {{ anxiety }}
      </div>
    </div>
    <script src="scripts/app.js"></script>


  </body>
