<content-type="html"/>
<html>
  <head>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vuex@3.0.1/dist/vuex.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
  </head>

  <body>
    <div id="app">
      <div class="current-card" v-if="currentCard">
        <div class="name">{{ currentCard.name }}</div>
        <div class="description">{{ currentCard.description }}</div>
        <div v-if="!resolved">
          <div class="confirm-message">
            {{ display_message }}
          </div>
          <button class="next" @click="userAgree()">Agree</button>
          <button class="next" @click="userDecline()">Decline</button>
        </div>
      </div>
      <button @click="playCard()">Play</button>
      <div class="player-info">
        POPULATION IS NOW {{ population }}
        THE CITY NOW OWNS {{ acres }} ACRES
        YOU NOW HAVE {{ siloed }} BUSHELS IN STORE.
      </div>
    </div>
    <script src="scripts/defineCards.js"></script>
    <script src="scripts/app.js"></script>
  </body>
